{% extends "base.html" %}
{% load urlify %}
<!--{% load markdown_deux_tags %}-->

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive" />
    {% endif %}
<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>
{% if instance.user %}
<p>Author: {{ instance.user|title }}</p>
{% endif %}


    <p>
    <a href="{{ instance.get_like_url }}"><button class='btn btn-default' title="Like this post" data-toggle="tooltip" type='submit'><i class="fa fa-thumbs-up" ></i></button></a>  {% if instance.likes.count > 0 %}{{ instance.likes.count }}{% endif %}
    </p>
<!--{% if instance.likes.count > 0 %}-->
<!--<p>{{ instance.likes.count }} people like this post</p>-->
<!--{% endif %}-->


<div class='' style="display: inline-block;">
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
    <span class='input-group-btn'>
        <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
        <button class='btn btn-default' title="Share this post on Facebook" data-toggle="tooltip" type='submit'><i class="fa fa-facebook"></i></button>
    </span>
</a>
</div>
<div class='' style="display: inline-block;">
<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
    <span class='input-group-btn'>
        <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
        <button class='btn btn-default' title="Share this post Twitter" data-toggle="tooltip" type='submit'><i class="fa fa-twitter"></i></button>
    </span>
</a>
</div>
<div class='' style="display: inline-block;">
<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
    <span class='input-group-btn'>
        <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
        <button class='btn btn-default' title="Share this post on Google Plus" data-toggle="tooltip" type='submit'><i class="fa fa-google-plus"></i></button>
    </span>
</a>
</div>
<div class='' style="display: inline-block;">
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
    <span class='input-group-btn'>
        <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
        <button class='btn btn-default' title="Share this post on Linkedin" data-toggle="tooltip" type='submit'><i class="fa fa-linkedin"></i></button>
    </span>
</a>
</div>
<div class='' style="display: inline-block;">
<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
    <span class='input-group-btn'>
        <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
        <button class='btn btn-default' title="Share this post on Reddit" data-toggle="tooltip" type='submit'><i class="fa fa-reddit"></i></button>
    </span>
</a>
</div>

<hr/>

<div class='row'>
<div class='col-sm-12 '>

<div class='content-markdown post-detail-item'>{{ instance.content }}</div>
    <!--nextline = space+space+enter-->
<!--<div class='post-detail-item'>{{ instance.get_markdown|linebreaks }}</div>-->
<!--<div class='post-detail-item'>{{ instance.content|markdown|linebreaks }}</div>-->

{% if delete %}
    <!--<input type='submit' value='Delete Post' class='btn btn-warning'>-->
    <a href="{{ instance.get_absolute_url_2 }}" class="btn btn-success" role="button">Update</a>
    <a href="{{ instance.get_absolute_url_1 }}" class="btn btn-danger" role="button">Delete Post</a>
{% endif %}


<hr/>

<div id="disqus_thread"></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://underground-blog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
</div>
</div>


{% endblock content %}